body {
    font-family: var(--font-corpo);
    color: var(--burnt-umber);
    background-color: var(--sandy-beige);
    line-height: 1.6;
    overflow-x: hidden;
    /* Evita rolagem lateral indesejada */
}
#capa-sobre{
    margin-top: 80px;
}
#sobre-titulo {
    text-align: center;
    margin-bottom: 40px;
}
#botoes-sobre {
    display: flexbox;
    margin-bottom: 40px;
    justify-content: initial;
    margin-left: 15vh;
    height: 600px;
    background-color: burlywood;
    padding-top: 150px;
    border-radius: 5vh;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    

}
.botao-sobre-texto{
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--pale-peach);
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    width: 250px;
    height: 70px;
}
.botao-sobre-texto:hover {
    background-color: var(--rose-clay);
    color: white;
}
#container{
    display: flex;
    height: 56.5vh;
    margin-bottom: 36vh;
}
#div-paragrafo-sobre{
    width: 100vh;
    display: flex;
    justify-content: center;
    height: 600px;
    border-radius: 5vh;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    background-color: var(--rose-clay);
    color: white;
    font-size: 20px;
    width: 150vh;
}
#paragrafoSobre{
    padding: 55px 20px 10px 40px;
}
/* Estilo para destacar o botão ativo */
.botao-sobre-texto.active {
    background-color: #f0e68c; /* Cor Amarela do destaque */
    border: 1px solid #ffd700;
    font-weight: bold;
    color: #333; /* Cor do texto mais escura para contraste */
}

/* Responsividade*/
@media (max-width: 1000px) {
    
}

@media (max-width: 700px) {
   
}

@media (max-width: 420px) {
    #botoes-sobre {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin: 0%;
    height: 0%;
    background-color: burlywood;
    padding-top: 0;
    border-radius: 0;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;

}
.botao-sobre-texto{
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--pale-peach);
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    width: auto;
    height: 70px;
}
#div-paragrafo-sobre{
    width: 100vh;
    flex-direction: column; /* tudo empilhado por padrão */
    align-items: center;
    gap: 10px;
    height: 10px;
    border-radius: 5vh;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    background-color: var(--rose-clay);
    color: white;
    font-size: 10px;
    padding: 0;
}
#paragrafoSobre{
    padding: 125px 20px 10px 40px;
}
}